{% extends 'layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% set active = 'inscription' %}

{% block content %}
<div class="row">
      <div class="col-xs-6 col-xs-push-3">
          <h2 class="text-center">Inscription d'un Membre</h2 >
          <form class="form-horizontal" method="post" action="{{ path('technews_inscription_post') }}">

              <!-- Prénom et Nom -->
              <div class="form-group">
                  <div class="col-xs-6">
                      <input name="PRENOMAUTEUR" required class="form-control"
                          type="text" placeholder="Saisissez votre Prénom">
                  </div>
                  <div class="col-xs-6">
                      <input name="NOMAUTEUR" required class="form-control"
                          type="text" placeholder="Saisissez votre Nom">
                  </div>
              </div>

              <!-- Email et Mot de Passe -->
              <div class="form-group">
                  <div class="col-xs-6">
                      <input name="EMAILAUTEUR" required class="form-control"
                          type="email" placeholder="Saisissez votre Email">
                  </div>
                  <div class="col-xs-6">
                      <input name="MDPAUTEUR" required class="form-control"
                          type="password" placeholder="*********">
                  </div>
              </div>

              <!-- Role du Membre pour les droits d'accès -->
              <div class="form-group">
                  <div class="col-xs-12">
                      <select name="ROLESAUTEUR" class="form-control">
                          <option value="ROLE_AUTEUR" selected>Auteur</option>
                          <option value="ROLE_ADMIN">Administrateur</option>
                      </select>
                  </div>
              </div>

              <input type="submit" class="btn btn-block btn-primary" value="M'inscrire">

          </form>
      </div>
  </div>
{% endblock %}
