<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block seodescription '' %}">
    <meta name="author" content="congnd91">
    <title>{% block title '' %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <!--preload-->
    <div class="loader" id="page-loader">
        <div class="loading-wrapper">
        </div>
    </div>
    <!-- inclusion menu -->
    {{ render(controller('TechNews\\Controller\\NewsController::menu', {'active': active})) }}

    <!-- contenu du site -->
    {% block content %}{% endblock %}

    <!-- inclusion footer -->
    {% include 'inc/footer.html' %}

    <!-- block javascript -->
    {% block javascripts %}{% endblock %}
</body>

</html>
